/* Resume.css */
.resume h2 {
    margin-bottom:-10px;
}

.resume .resume-experience {
    margin-top:40px;
}

.resume .resume-details {
    margin-bottom:20px;
}

.resume .resume-bullet {
    margin-bottom:10px;
}

.resume .dash {
    margin: 0px 10px;
}

.resume .bullet-icon {
    margin-left:5px;
    width: 14px;
}